<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Companies" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <appSettings>

    <add key = "ConsumerKey1" value = "KQ0D1LauDdTHccy2gX2CgQ"/>
    <add key = "ConsumerSecret1" value = "cWWc3cIMPuQ3wfSiGEkygboHhTYCaju9TXljLE"/>
    <add key = "AccessToken1" value = "353793641-0JQDEfHt515H24mbPppCTY8mYNhOkaeB1GippjoR"/>
    <add key = "AccessTokenSecret1" value = "ji08nDekaGEL3ZboaKfEq934SMc4xTid7GRsggjbQ"/>

    <add key = "ConsumerKey2" value = "lVVcDevyLOZcL2dqy4lL0g"/>
    <add key = "ConsumerSecret2" value = "WZJxCCR2SY87SAVEJqBGBE7I5JOdGUYSlywTxMQdo"/>
    <add key = "AccessToken2" value = "1557566924-AD2Ml2VViqHy08KVlaoW9f11hXqz5deo4aRGW43"/>
    <add key = "AccessTokenSecret2" value = "O5i0NEO3EGG88r4dkbBjsh7gaCrFN7OCHsup9Ygb5XPlT"/>

    <add key = "UsersListFilePath" value = "compList.txt"/>

    <add key = "StringsToRemoveFromName" value = "INC, INC, GROUP,CORP, CORP,FAC, FAC,NY, NY,CO, CO,MA, MA,PA, PA,&amp;"/>

    <add key = "ConnectionString" value = "DataSource=\{0}\; Password='{1}', Twitter.sdf, Twitter"/>

    <add key = "BulkForUsersLookup" value = "5000"/>
    <add key = "LimitForUsersLookup" value = "15"/>
    <add key = "SearchDepth" value = "2"/>
    <add key = "MaxFollowersToGetForFirstLevel" value = "0"/>
    <add key = "MaxFollowersToGetAfterFirstLevel" value = "5"/>
    <add key = "DBCreationPAth" value = "D:\TwittercollectedData"/>
    <add key = "CSVFilesDirectory" value = "D:\TwittercollectedData\CSV"/>
  </appSettings>

  <Companies>
    <add key="1" value="KLA-Tencor"/>
    <!--<add key="2" value="Applied Materials"/>
    <add key="3" value="Sanofi US"/>
    <add key="4" value="Cigna"/>-->
  </Companies>
</configuration>