<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key = "ConsumerKey1" value = "KQ0D1LauDdTHccy2gX2CgQ"/>
    <add key = "ConsumerSecret1" value = "cWWc3cIMPuQ3wfSiGEkygboHhTYCaju9TXljLE"/>
    <add key = "AccessToken1" value = "353793641-0JQDEfHt515H24mbPppCTY8mYNhOkaeB1GippjoR"/>
    <add key = "AccessTokenSecret1" value = "ji08nDekaGEL3ZboaKfEq934SMc4xTid7GRsggjbQ"/>

    <add key = "ConsumerKey2" value = "Q7O2fiED8RC2M9tBXfMuig"/>
    <add key = "ConsumerSecret2" value = "95qpCP0MZ18V3HVAJ1fUQeUL1mwkm0W0V3s8WjNZM"/>
    <add key = "AccessToken2" value = "1531131426-3dMuQi7FcWc4zmO0X6V6TbGKk6tcW15FeWPw8US"/>
    <add key = "AccessTokenSecret2" value = "z5Xgm2PZgqHvr9gCRhqxqWDI05NDLsjMJjvV52VWLg"/>

    <add key = "UsersListFilePath" value = "compList.txt"/>

    <add key = "StringsToRemoveFromName" value = "INC, INC, GROUP,CORP, CORP,FAC, FAC,NY, NY,CO, CO,MA, MA,PA, PA,&amp;"/>

    <add key = "ConnectionString" value = "DataSource=\{0}\; Password='{1}', Twitter.sdf, Twitter"/>

    <add key = "BulkForUsersLookup" value = "5000"/>
    <add key = "LimitForUsersLookup" value = "15"/>
  </appSettings>
</configuration>