<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>

  //Token 1
  add key = "ConsumerKey" value = "KQ0D1LauDdTHccy2gX2CgQ";
  add key = "ConsumerSecret" value = "cWWc3cIMPuQ3wfSiGEkygboHhTYCaju9TXljLE";
  add key = "AccessToken" value = "353793641-0JQDEfHt515H24mbPppCTY8mYNhOkaeB1GippjoR";
  add key = "AccessTokenSecret" value = "ji08nDekaGEL3ZboaKfEq934SMc4xTid7GRsggjbQ";

  //Token2
  add key = "ConsumerKey" value = "Q7O2fiED8RC2M9tBXfMuig";
  add key = "ConsumerSecret" value = "95qpCP0MZ18V3HVAJ1fUQeUL1mwkm0W0V3s8WjNZM";
  add key = "AccessToken" value = "1531131426-3dMuQi7FcWc4zmO0X6V6TbGKk6tcW15FeWPw8US";
  add key = "AccessTokenSecret" value = "z5Xgm2PZgqHvr9gCRhqxqWDI05NDLsjMJjvV52VWLg";

  add key = "UsersListFileAdress" value = @"C:\Users\חנן טוקש\Dropbox\MOST\Reuters\compList.txt";

  add key = "StringsToRemoveFromName" value = " " INC ", " INC", "GROUP", " CORP ", " CORP", " FAC ", " FAC",;
  " NY ", " NY", " CO ", " CO", " MA ", " MA", " PA ", " PA", "&" ";
  
  add key = 
<appSettings>
</configuration>